<script>
    function getTime() {
        let options = { weekday: 'short', year: 'numeric', month: 'short', day: '2-digit', dateStyle: 'short', timeStyle: 'short', timeZoneName: 'short', hour12: 'true' };
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                let outPutObj = JSON.parse(this.responseText);
                let cardDate = moment.utc(outPutObj.utcTime).tz(document.getElementById("timeZoneSelector").value);
                document.getElementById("timeSpot").innerText = `${cardDate.format("dddd, MMMM Do YYYY, h:mm a z")}`;
                document.getElementById("details").innerText = `ClientIp: ${outPutObj.clientIp} \n Current Time QueryId: ${outPutObj.currentTimeQueryId}`;
                document.getElementById("singleTimeCard").style.display = "block";
                document.getElementById("multipleTimeCard").style.display = "none";
            }
        };
        xhttp.open("POST", "http://localhost:49180/api/currenttime", true);
        xhttp.setRequestHeader('Access-Control-Allow-Origin', '*');
        xhttp.setRequestHeader('Content-type', 'application/json');
        xhttp.setRequestHeader('Access-Control-Allow-Methods', '*');
        let clientTimeZone = document.getElementById("timeZoneSelector").value;
        let timeZoneObj = JSON.stringify({
            TimeZone: clientTimeZone
        });
        xhttp.send(timeZoneObj);


    }
    function getAllDatabases() {
        var xhttp = new XMLHttpRequest()
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("multipleTimeCard").innerHTML = '';
                let outPutObj = JSON.parse(this.responseText);
                let elementToClone = document.getElementById("singleCard");
                var containingElement = document.getElementById("multipleTimeCard");
                let cln = elementToClone.cloneNode(true);
                for (card of outPutObj) {
                    let cardDate = moment.utc(card.utcTime).tz(document.getElementById("timeZoneSelector").value);
                    cln.firstChild.nextSibling.innerText = `${cardDate.format("dddd, MMMM Do YYYY, h:mm a z")}`;
                    cln.lastChild.previousSibling.innerText = `ClientIp: ${card.clientIp} \n Current Time QueryId: ${card.currentTimeQueryId}`;
                    containingElement.insertAdjacentElement("beforeend", cln);
                    cln = elementToClone.cloneNode(true);
                }
                document.getElementById("singleTimeCard").style.display = "none";
                document.getElementById("multipleTimeCard").style.display = "flex";
            }
        };
        xhttp.open("GET", "http://localhost:49180/api/currenttime/all", true);
        xhttp.setRequestHeader('Access-Control-Allow-Origin', '*');
        xhttp.setRequestHeader('Content-type', 'application/json');
        xhttp.setRequestHeader('Access-Control-Allow-Methods', 'GET');
        xhttp.send();
    }
    function timeZoneSetup() {
        let timeZoneList = moment.tz.names();
        let timeZoneSelect = document.getElementById("timeZoneSelector");
        let userTimeZone = moment.tz.guess(Boolean);
        for (let zone of timeZoneList) {
            let selectOption = document.createElement('option');
            selectOption.textContent = zone;
            selectOption.value = zone;
            timeZoneSelect.appendChild(selectOption);
        }
        timeZoneSelect.selectedIndex = timeZoneList.indexOf(userTimeZone);
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        timeZoneSetup();
    });
</script>
<script src="~/Content/Moment.js"></script>
<script src="~/Content/MomentTimezone.js"></script>
<header>
    <h2>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>
</header>
<section>
    <button type="submit" onclick="getTime()">Get the time</button>
    <button type="submit" onclick="getAllDatabases()">Get all entries</button>
    <select id="timeZoneSelector"></select>
    
</section>
<article id="singleTimeCard">
    <div class="card" id="singleCard">
        <div id="timeSpot"></div>
        <div id="details"></div>
    </div>
</article>
<article id="multipleTimeCard">
</article>



