body {
    display: grid;
    grid-template-areas:    "header"
                            "buttons"
                            "databaseEntries";
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

button{
    margin: 5px;
}

section {
    grid-area: buttons;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

article {
    grid-area: databaseEntries;
    justify-content: center;
}

.card {
    display: inline-block;
    border: solid;
    text-align: center;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    border-radius: 10px;
    margin: 10px;
}

#timeSpot {
    border-bottom-style: solid;
    padding: 5px;
}

#details {
    padding: 5px;
}

#singleTimeCard {
    display: none;
    text-align: center;
}

#multipleTimeCard{
    display: none;
    flex-wrap: wrap;
}
